.headerFondo {
    background-image: url("../imagen/cactus2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
}

.navegacion {
    list-style: none;
    background: rgb(26, 20, 128);
    background: -moz-radial-gradient(circle, rgba(26, 20, 128, 1) 0%, rgba(13, 139, 11, 1) 35%, rgba(0, 255, 68, 0.5998774509803921) 100%);
    background: -webkit-radial-gradient(circle, rgba(26, 20, 128, 1) 0%, rgba(13, 139, 11, 1) 35%, rgba(0, 255, 68, 0.5998774509803921) 100%);
    background: radial-gradient(circle, rgba(26, 20, 128, 1) 0%, rgba(13, 139, 11, 1) 35%, rgba(0, 255, 68, 0.5998774509803921) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a1480", endColorstr="#00ff44", GradientType=1);

}
.logoDeLaPagina {
    margin: 20px 5px;
    border: 1px solid black;
    border-radius: 5px;
}